<%= tag.div data: { controller: "element-removal" }, class: "py-2 px-3 mb-5" do %>
  <a data-action="element-removal#remove">Remove</a>
  <%= fields_for "accounts[]", account do |account_fields| %>
    <%= render "bulk_accounts/account_text_field", account: account, account_fields: account_fields, key: :name %>
    <%= render "bulk_accounts/account_text_field", account: account, account_fields: account_fields, key: :email %>
  <% end %>
<% end %>
